.bmItem_li{
    height: 4rem;
    width: 12.5rem;
    border:solid 2px grey;
    overflow:hidden;
    font-size: smaller;
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    flex-direction: row;

}

.bm_link{
    color:whitesmoke;
    text-decoration: none;
    display: flex;
}