.bmItem_li{
    height: 3rem;
    width: 12.5rem;
    border:solid 2px grey;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    flex-direction: row;
    display: flex;
}

.fa-bookmark{
    color:brown;
    position: relative;
    bottom: 10px;
}
.page_name{
    line-height:13px;
    overflow: scroll;
    margin: 0;
    margin-top:12px ;

}

.bm_link{
    color:whitesmoke;
    text-decoration: none;
    font-size: 14px;
}